<h1>Musical作品・感想紹介サイト</h1>
<h3>作品の編集ページ</h3>

<%= form_for @musical do |f| %>

  <div class="field">
  <%= f.label :"作品名" %>
  <%= f.text_field :name, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :"みんなに見どころを伝えよう！"  %>
    <%= f.text_area :point, :size => "30x2" %>
  </div>


  <div class='field'>
      <%= f.label :youtube_url %>
        <%= f.text_field :youtube_url, :size => 140 %>
  <div>

  <h5>ジャンル選択:</h5>
  <div class='form-group'>
    <%= f.collection_select :tag_ids, Tag.all, :id, :name, include_blank: "ジャンルを選択してください"  %>
  </div>

  <%= f.submit "編集する" %>
  
<% end %>
<%= link_to "一覧ページに戻る", :controller => "musicals", :action => "index" %>




