<%= stylesheet_link_tag 'show', :media => "all" %>
<h3>作品詳細</h3>

<div class="musical">
  <% @musical.tags.each do |tag| %>
    <i class="fa-solid fa-tags"></i>
    <span><%= tag.name %></span>
  <% end %>
  
<div class="contents">
<div class="contents-title">
  <p><%= @musical.name %></p>
  </div>
  <div class="like">
    <% if user_signed_in? %>
      <% if current_user.already_liked?(@musical) %>
        <%= link_to musical_like_path(@musical), method: :delete do %>
          <i class="fas fa-heart fa-1x" style="color:red;"></i>
          <%= @musical.likes.count %>
        <% end %>
      <% else %>
        <%= link_to musical_likes_path(@musical), method: :post do %>
          <i class="fas fa-heart fa-1x" style="color:gray;"></i>
          <%= @musical.likes.count %>
        <% end %>
      <% end %>
    <% else %>
     <i class="fas fa-heart fa-1x" style="color:red;"></i>
     <%= @musical.likes.count %>
    <% end %>
    </div>
    <div class="edit">
    <%= link_to edit_musical_path(@musical.id) do %>
    <i class="fa-regular fa-pen-to-square"></i>
    <% end %>
    </div>
  </div>
    <iframe width="840" height="472.5" src="https://www.youtube.com/embed/<%= find_youtube_url(@musical.youtube_url) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 
</div>



<h4>いいねしたユーザー</h4>
<% @musical.liked_users.each do |user| %>
  <li><%= user.name %></li>
<% end %>

<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.name unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
      
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@musical, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
        <%= button_tag type: "submit" do %>
          <i class="far fa-comments"></i> コメントする
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= link_to "一覧ページに戻る", musicals_path %>

  
</div>
 

 